.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(175, 216, 248);
    display: inline-block;
    margin-bottom: -4px;
  }

.node.starting {
  background-color: green;
}

.node.finishing {
  background-color: red;
}

.node.wall {
  background-color: rgb(12, 53, 71);
}